.Meaning {
  text-align: left;
  font-family: "Heebo", sans-serif;
}

.partOfSpeech {
  font-size: 28px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 20px;
}

.definition {
  font-size: 18px;
  margin: 20px 0 10px;
  line-height: 17px;
}

.example {
  font-size: 14px;
  line-height: 15px;
  margin-top: 10px;
}
