body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/086/152/original/PXL_20230122_123616673.jpg?1687030252");
  background-size: 100%;
  background-size: cover;
  background-repeat: repeat;
}
